header {
    width: 100%;
    text-align: center;
    color: green;
    font-size: 40px;
    font-weight: 800;
    line-height: 75px;
}

.navig {
    background-color: lightgray;
    line-height: 50px;
    text-align: center;
    word-spacing: 15px;
}

.feat {
    background-color: lightgray;
    line-height: 50px;
}

.feat>p {

    text-align: center;
}

.foot {
    background-color: lightgray;
    line-height: 50px;

}

.foot>p {

    text-align: center;

}


.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

}

.box {
    background-color: lightgray;
    text-align: center;
    width: 32%;
}